<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>
<body>
    <h1>Lets Chat!!!</h1>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`
        const chatSocket = new WebSocket(url)
        chatSocket.onopen = function (e){
            console.log("I see connection on my side. Waiting for messages...")
        }
         chatSocket.onmessage = function (e){
            console.log("I got message!!")
            let data = JSON.parse(e.data)
            console.log(data)
        }
    </script>

</body>
</html>